[Desktop Entry]
Name=Mini Task Manager
Comment=Native task manager and process monitor for COSMIC Desktop. Stop or kill unresponsive processes.
Type=Application
Exec=cosmic-ext-mini-taskmanager
Terminal=false
Categories=System;Monitor;X-Cosmic;
Icon=io.github.kai_j_g.MiniTaskManager
StartupNotify=true
NoDisplay=false
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-CosmicShrinkable=true
X-OverflowPriority=20
